
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-image: url('https://raw.githubusercontent.com/jkpasaoa/images/main/chess%20background.jpg');
    width: auto;
    height: auto;
    background-size: cover;
    background-position: left bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

aside {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    font-style: italic;
    background-image: linear-gradient(to right,#ffd76f, #f0647f);
    top: 50px;
    left: 50px;
    color: #2f4d77;
}

.container {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    gap: 5em;
    background: #87CEFA;
    place-items: center;
    box-shadow: 8px 4px 5px 0px rgba(20, 17, 22, 1);
    border-radius: 2px;
    opacity: 90%;
}   

#category {
    text-align: right;
}

.header {
   text-align: center;
   background-color: #d7e9db;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: #5b4a68 ;
   font-size: 27px;
}



.testbutton {
    font-family: 'Poppins', sans-serif;
    color: #14396A !important;
    font-size: 14px;
    text-shadow: 1px 1px 0px #7CACDE;
    box-shadow: 1px 1px 1px #BEE2F9;
    padding: 10px 25px;
    border-radius: 10px;
    border: 2px solid #3866A3;
    background: #63B8EE;
    background: linear-gradient(to top, #63B8EE, #468CCF);
    position: relative;
    top: 25px;
  }
  .testbutton:hover {
    color: #14396A !important;
    background: #468CCF;
    background: linear-gradient(to top, #468CCF, #63B8EE);
  }

#question {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 27px;
    position: relative;
}

#getAnswerButton {
    display: none;
    position: relative;
    top: -25px;
}

#answerContainer {
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
    position: relative;
    top: -55px;
}

.box {
    width: 400px; 
    margin: auto; 
    text-align: center;
    
    padding: 20px;
    border-style: solid;
    border-color: #B6C7D6;
    border-radius: 20px;
    background-color: #EAF0F6;
    opacity: 87%;
  }

  /* for large desktops, laptops */
@media (max-width: 1200px) {
    body {
        background-image: url('https://raw.githubusercontent.com/jkpasaoa/images/main/chess%20background.jpg');
        background-color: #14396A;
        width: auto;
        height: auto;
        background-size: 55%;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}

/* for regular sized desktops, laptops */
@media (max-width: 992px) {
    body {
        background-image: url('https://raw.githubusercontent.com/jkpasaoa/images/main/chess%20background.jpg');
        background-color: #14396A;
        width: auto;
        height: auto;
        background-size: 55%;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}

/* for medium devices - tablets */
@media (max-width: 768px) {
    body {
        background-image: url('https://raw.githubusercontent.com/jkpasaoa/images/main/chess%20background.jpg');
        background-color: #14396A;
        width: auto;
        height: auto;
        background-size: 55%;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}

/* 
Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    body {
        background-image: url('https://raw.githubusercontent.com/jkpasaoa/images/main/chess%20background.jpg');
        background-color: #14396A;
        width: auto;
        height: auto;
        background-size: 100%;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        }
  }