h1.first-header {
  color: #22AC1B;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  background-color: #ffffff;
  opacity: 87%;
}

body {
  background-image: url('https://raw.githubusercontent.com/jkpasaoa/images/main/trivia%20pic.jpg');
  background-size: cover;
  background-attachment: fixed;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
section {
  width: 40%;
  font-size: 1.5em;
  margin-left: 30%;
}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
section {
  width: 30%;
  font-size: 1.75em;
  margin-left: 35%;
}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
section {
  width: 25%;
  font-size: 2em;
  margin-left: 37.5%;
  max-width: 400px;
}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
section {
  width: 20%;
  font-size: 2.15em;
  margin-left: 40%;
  max-width: 450px;
}
}